<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro"
       name="realsense" >
 


  <!-- camera -->
  <xacro:include filename="$(find realsense2_description)/urdf/_d435.urdf.xacro" />
 
  <link name="camera_world" />
 
  <joint name="camera_world_joint" type="fixed">
    <parent link="camera_world" />
    <child link = "base_link" />  <!--"base_link" is follow the prefix setting.-->
    <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0" />
  </joint>
 
</robot>