<?xml version="1.0"?>
<robot xmlns:xacro="http://wiki.ros.org/xacro"
       name="ur3" >

  <xacro:arg name="transmission_hw_interface" default="hardware_interface/PositionJointInterface"/>

  <!-- common stuff -->
  <!--xacro:include filename="$(find ur_description)/urdf/common.gazebo.xacro" /-->

  <!-- ur3 -->
  <xacro:include filename="$(find husky_ur3_gazebo)/urdf/ur3.urdf.xacro" />
  <xacro:include filename="$(find husky_ur3_gazebo)/urdf/rh_p12_rn_gripper.xacro" />
  <xacro:include filename="$(find husky_ur3_gazebo)/urdf/accessories/d435_camera_g.urdf.xacro" />


  <!-- arm -->
  <xacro:ur3_robot prefix="" joint_limited="true"
    shoulder_pan_lower_limit="${-pi}" shoulder_pan_upper_limit="${pi}"
    shoulder_lift_lower_limit="${-pi}" shoulder_lift_upper_limit="${pi}"
    elbow_joint_lower_limit="${-pi+0.52359}" elbow_joint_upper_limit="${pi}"
    wrist_1_lower_limit="${-pi}" wrist_1_upper_limit="${pi}"
    wrist_2_lower_limit="${-pi}" wrist_2_upper_limit="${pi}"
    wrist_3_lower_limit="${-pi}" wrist_3_upper_limit="${pi}"
    transmission_hw_interface="$(arg transmission_hw_interface)"
  />
 
  <joint name="husky_ur3_joint" type="fixed">
    <parent link="top_plate_link" />
    <child link = "ur3_base_link" />
         <origin xyz="0.25 0 0.0065" rpy="0.0 0.0 -1.57" />
  </joint>

   <joint name="ur3_gripper_joint" type="fixed">
    <parent link="ee_link" />
    <child link = "rh_p12_rn_base" />
          <origin xyz="0 0 0" rpy="0 1.57 0"/>
  </joint>
 
  <xacro:g_sensor_d435 parent="ee_link">
        <origin xyz="0.0 0.00 -0.04" rpy="${-pi} 0 0"/>
  </xacro:g_sensor_d435>
    
</robot>
