<?xml version="1.0"?>
<launch>

  <arg name="multimaster" default="$(optenv ROBOT_MULTIMASTER false)"/>
  <arg name="simulation" default="$(optenv ROBOT_SIMULATION false)"/>
  <arg name="robot_namespace" default="$(optenv ROBOT_NAMESPACE robot)"/>

  <arg name="config_extras"
       default="$(eval optenv('HUSKY_CONFIG_EXTRAS', find('husky_ur3_gazebo') + '/config/empty.yaml'))"/>

  <arg name="laser_enabled" default="$(optenv HUSKY_LMS1XX_ENABLED false)"/>
  <arg name="kinect_enabled" default="$(optenv HUSKY_KINECT_ENABLED false)"/>
  <arg name="urdf_extras" default="$(optenv HUSKY_URDF_EXTRAS)"/>

  <include file="$(find multimaster_launch)/launch/multimaster_robot.launch" if="$(arg multimaster)">
    <arg name="gazebo_interface" value="$(find husky_ur3_gazebo)/config/gazebo_interface.yaml" />
    <arg name="public_interface" value="$(find husky_ur3_gazebo)/config/public_interface.yaml" />
    <arg name="robot_namespace" value="$(arg robot_namespace)"/>
    <arg name="simulation" value="$(arg simulation)"/>
  </include>

  <!-- Load robot description -->
  <include file="$(find husky_ur3_gazebo)/launch/description.launch" >
    <arg name="laser_enabled" default="$(arg laser_enabled)"/>
    <arg name="kinect_enabled" default="$(arg kinect_enabled)"/>
    <arg name="urdf_extras" default="$(arg urdf_extras)"/>
  </include>

  <!-- Load controller configuration -->
  <rosparam command="load" file="$(find husky_ur3_gazebo)/config/control_joint.yaml" />

  <node name="base_controller_spawner" pkg="controller_manager" type="spawner" respawn="false" output="screen"
        args="husky_joint_publisher husky_velocity_controller"/>

    <!-- load the controllers -->
  <node name="controller_spawner" pkg="controller_manager" type="spawner" respawn="false"
    output="screen" ns="/husky" args="joint_state_controller joint1_position_controller joint2_position_controller joint3_position_controller joint4_position_controller 
                                             joint5_position_controller joint6_position_controller"/>
        

  <!--node name="arm_controller_spawner" pkg="controller_manager" type="controller_manager" 
        args="spawn arm_controller1" respawn="false" output="screen"/-->

  <!-- load other controllers -->
  <!--node name="ros_control_controller_manager" pkg="controller_manager" type="controller_manager" respawn="false" output="screen" 
        args="load joint_group_position_controller" /-->






  <!-- Start EKF for localization -->
  <node pkg="robot_localization" type="ekf_localization_node" name="ekf_localization">
    <rosparam command="load" file="$(find husky_ur3_gazebo)/config/localization.yaml" />
  </node>

  <node pkg="interactive_marker_twist_server" type="marker_server" name="twist_marker_server" output="screen"/>

  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" />

  <node pkg="twist_mux" type="twist_mux" name="twist_mux">
    <rosparam command="load" file="$(find husky_ur3_gazebo)/config/twist_mux.yaml" />
    <remap from="cmd_vel_out" to="husky_velocity_controller/cmd_vel"/>
  </node>

  <!-- Override the default control parameters, see config/empty.yaml for default. -->
  <rosparam command="load" file="$(arg config_extras)" />

    <!-- ros_control robotis manipulator launch file -->
  <!--include file="$(find husky_ur3_gazebo)/launch/position_controller.launch" /-->
  <!--<include file="$(find rh_p12_rn_gazebo)/launch/trajectory_controller.launch" />-->

  <!-- gripper pub -->
  <!--node pkg="rh_p12_rn_gazebo" type="gazebo_rh_pub" name="gazebo_grip_pub">
  </node-->

</launch>


