<?xml version="1.0" ?>
<launch>
  <!-- these are the arguments you can pass this launch file, for example paused:=true -->
  <arg name="paused" default="true"/>
  <arg name="use_sim_time" default="true"/>
  <arg name="gui" default="true"/>
  <arg name="headless" default="false"/>
  <arg name="debug" default="false"/>

  <!-- We resume the logic in empty_world.launch, changing only the name of the world to be launched -->
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" value="$(find husky_ur3_gazebo)/worlds/empty.world"/>
    <arg name="debug" value="$(arg debug)" />
    <arg name="gui" value="$(arg gui)" />
    <arg name="paused" value="$(arg paused)"/>
    <arg name="use_sim_time" value="$(arg use_sim_time)"/>
    <arg name="headless" value="$(arg headless)"/>
  </include>

  <!-- Load the URDF into the ROS Parameter Server -->
  <param name="robot_description" command="$(find xacro)/xacro '$(find husky_ur3_gazebo)/urdf/rh_p12_rn_gripper.xacro'" />

  <!-- Run a python script to the send a service call to gazebo_ros to spawn a URDF robot -->
  <node pkg="gazebo_ros" type="spawn_model" name="urdf_spawner" respawn="false" output="screen"
  args="-urdf -model rh_p12_rn -param robot_description"/>

  <!-- ros_control robotis manipulator launch file -->
  <include file="$(find husky_ur3_gazebo)/launch/position_controller.launch" />
  <!--<include file="$(find rh_p12_rn_gazebo)/launch/trajectory_controller.launch" />-->

  <!-- gripper pub -->
  <node pkg="rh_p12_rn_gazebo" type="gazebo_rh_pub" name="gazebo_grip_pub">
  </node>
</launch>
